<form>

    <label for="name_task">Nom de la tâche :</label>
    <input type="text" id="name_task" ng-model="name_task"></input>

    <label for="context_task">Contexte de la tâche :</label>
    <input type="text" id="context_task" ng-model="context_task"></input>

    <label for="date_task">Date de la tâche :</label>
    <input type="text" id="date_task" ng-model="date_task"> </input>

    <label for="duree_task">Durée de la tâche (minute) :</label>
    <input type="number" id="duree_task" ng-model="duree_task"> </input>

    <label for="desc_task">Description de la tâche :</label>
    <input type="text" id="desc_task" ng-model="desc_task"></input>

    <label for="url_task">URL :</label>
    <input type="text" id="url_task" ng-model="url_task"></input>

    <a id="edit_button" ng-click="editTask()"> 
        Valider
    </a>
    


    <a href="#!/">Annuler</a>
</form>